%h1 Organizational Analyst Contact

%p.shortInstructions Please enter information for your organization's Analyst Contact, or choose 'skip' below.

-# TODO: This ain't right yet
- if @analyst_user.errors.any?
  %h2 There #{'was'.pluralize(@analyst_user.errors.count)} #{@analyst_user.errors.count==1 ? 'an error' : "were #{@analyst_user.errors.count} errors"}:
  %ul
    - @analyst_user.errors.to_a.each do |err|
      %li= err

%div.onboardingContainer-formContainer
  = form_for(@analyst_user, url: '/org_onboarding/create_analyst', html: { class: 'defaultForm' }) do |f|
    .field
      = f.label :first_name, 'Analyst Contact Name'
      %br/
      .nameContainer
        = f.text_field :first_name, autofocus: true, autocomplete: 'first_name', placeholder: 'First Name'
        = f.text_field :last_name, autofocus: true, autocomplete: 'last_name', placeholder: 'Last Name'
    .field
      = f.label :email, 'Analyst Contact Email'
      %br/
      = f.email_field :email, autocomplete: 'email'
    .field
      = f.label :phone, 'Analyst Contact Phone'
      %br/
      = f.phone_field :phone, autocomplete: 'phone'

    = f.fields_for(:address) do |fadd|
      .field.address
        = fadd.label :line1, 'Analyst Physical Address'
        = fadd.text_field :line1, placeholder: 'address line 1'
        = fadd.text_field :line2, placeholder: 'address line 2'
        .cityStateZip
          = fadd.text_field :city, placeholder: 'city', class: 'city'
          = fadd.text_field :state, placeholder: 'state', class: 'state'
          = fadd.text_field :postcode, placeholder: 'zip/postcode', class: 'zip'
        = fadd.text_field :country, placeholder: 'country'

    .actions.prevSkipNext
      = link_to '< Previous', :org_onboarding_new_trader, class: 'linkAsButton lesser'
      %div.skipNext
        = f.submit 'Skip >', class: 'least'
        = f.submit 'Next >'
